body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.contem {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.puta, .pata {
    background-color: #181e2e;
    padding: 15px;
    border-radius: 2px;
    flex: 1;
}

.pata {
    max-width: 33%;
}

h1, h5 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 630px;
    height: 410px;
}
